.button, button, input[type=submit] {
  position: relative;
  font: bold 13px/1em "Trebuchet MS", sans-serif;
  padding: 6px 10px 7px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background: #5784BF;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#669be1), to(#5784bf));
  background-image: linear-gradient(#669be1, #5784bf);
  background-image: -moz-linear-gradient(#669be1, #5784bf);
  background-image: -webkit-linear-gradient(#669be1, #5784bf);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
  border: 0;
}
button.good, .button.good, .button.add {
  background: #489615;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#84c63c), to(#489615));
  background-image: linear-gradient(#84c63c, #489615);
  background-image: -moz-linear-gradient(#84c63c, #489615);
  background-image: -webkit-linear-gradient(#84c63c, #489615);
}
button.bad,
.button.bad,
.button.developer,
.button.scary {
  background: #bc2b1a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f84b4e), to(#bc2b1a));
  background-image: linear-gradient(#f84b4e, #bc2b1a);
  background-image: -moz-linear-gradient(#f84b4e, #bc2b1a);
  background-image: -webkit-linear-gradient(#f84b4e, #bc2b1a);
}
.button {
  display: inline-block;
}
.button.prominent {
  padding: 8px 16px 12px;
  font-size: 16px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
}
.button.add span {
  padding-left: 16px;
  background: url(../button-icons.png) no-repeat 0 3px;
}
.button.add.prominent span {
  padding-left: 24px;
  background-position: 0 -189px;
}
.button.add.prominent.disabled span, .button.add.prominent.concealed span {
  background-position: 0 -253px;
}
.button.add.prominent.warning span, .button.add.prominent.caution span {
  background-position: 0 -317px;
}
.button.add.warning, .button.add.caution {
  background: url(../../img/impala/warning-bg.png);
  color: #333;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
  top: 0;
}
.button.add.warning span, .button.add.caution span {
  background-position: 0 -125px;
}
.button.add.disabled, .button.add.concealed {
  top: 0;
}
.button.add.disabled span, .button.add.concealed span {
  background-position: 0 -61px;
}
.button.premium {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3c17f), to(#d6913d));
  background-image: linear-gradient(#e3c17f, #d6913d);
  background-image: -moz-linear-gradient(#e3c17f, #d6913d);
  background-image: -webkit-linear-gradient(#e3c17f, #d6913d);
}
.button.paypal {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f8eac4), to(#eec546));
  background-image: linear-gradient(#f8eac4, #eec546);
  background-image: -moz-linear-gradient(#f8eac4, #eec546);
  background-image: -webkit-linear-gradient(#f8eac4, #eec546);
  color: #334676;
  text-shadow: 1px 1px #EDE8BF;
  font-style: italic;
  font-family: Verdana, "Helvetica Neue", Arial, sans-serif;
  background-color: #EEC546;
}
.button.paypal small {
  font-size: 0.7em;
}
.button.paypal em {
  color: #5a78a8;
}
.button.paypal.disabled em {
  color: #919497;
}
.button.contribute.prominent b {
  background: url(../button-icons.png) no-repeat;
  padding-left: 24px;
  margin-left: -4px;
  background-position: 0 -444px;
}
.button.developer span, .button.scary span {
  margin-left: -4px;
  padding-left: 24px;
  background: url(../button-icons.png) no-repeat;
  background-position: 0 -381px;
}
.button.watch:not(.watching) {
  background: #ea0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eeaa00), to(#bb8600));
  background-image: linear-gradient(#eeaa00, #bb8600);
  background-image: -moz-linear-gradient(#eeaa00, #bb8600);
  background-image: -webkit-linear-gradient(#eeaa00, #bb8600);
}
.button.platform {
  display: none;
}
.html-rtl .button.add span {
  background-position: 93px 3px;
  padding: 0 16px 0 0;
}
.html-rtl .button.add.prominent span {
  padding: 0 24px 0 0;
  background-position: right -189px;
}
.html-rtl .button.add.prominent.disabled span, .html-rtl .button.add.prominent.concealed span {
  background-position: right -253px;
}
.html-rtl .button.add.prominent.warning span, .html-rtl .button.add.prominent.caution span {
  background-position: right -317px;
}
.html-rtl .button.add.warning span, .html-rtl .button.add.caution span {
  background-position: right -125px;
}
.html-rtl .button.add.disabled span, .html-rtl .button.add.concealed span {
  background-position: right -61px;
}
.html-rtl .button.contribute.prominent b {
  margin: 0 -4px 0 0;
  padding: 0 24px 0 4px;
  background-position: right -444px;
}
.html-rtl .button.developer span, .html-rtl .button.scary span {
  margin: 0 -4px 0 0;
  padding: 0 24px 0 0;
  background-position: right -381px;
}
.button:hover,
.button:focus,
.button:active,
.button.selected {
  text-decoration: none;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.install.clickHijack a * {
  pointer-events: none;
}
.button:active, .button.selected {
  box-shadow: 0 0px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.button:active,
.button.selected,
.button.prominent:active,
.button.prominent.selected {
  top: 2px;
}
.button:active:before,
.button.selected:before,
.button.prominent:active:before,
.button.prominent.selected:before {
  /* `top: 2px` creates a 2px "deadzone" making the link unclickable.
            This effectively fills the deadzone. See bug 710284. */

  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
}
.button.prominent:hover,
.button.prominent:focus,
.button.prominent:active,
.button.prominent.selected {
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.button.prominent:active, .button.prominent.selected {
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
}
.install-shell .install {
  display: inline-block;
}
.install-shell .warning {
  font-size: 12px;
}
.install-shell .extra {
  margin-top: 8px;
}
.install-shell .notavail {
  color: #c00000;
  display: block;
  font-size: 11px;
  margin: 0 0 4px;
}
.install-shell .acr-incompat {
  color: #999999;
}
#promos .button.disabled, #promos .button.concealed {
  display: none !important;
}
.listing-grid .hovercard .install-shell {
  margin-bottom: 12px;
}
.listing-grid .hovercard .install-button {
  margin: 0;
}
.listing-grid .hovercard .button.disabled, .listing-grid .hovercard .button.concealed {
  display: none !important;
}
.mac .button.mac,
.linux .button.linux,
.other .button.bsd,
.other .button.solaris,
.windows .button.windows {
  display: inherit;
}
.thunderbird .listing-grid .install-shell {
  display: none;
}
/* Invisible Upload */
.invisible-upload {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.invisible-upload input {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 110%;
  opacity: 0;
  cursor: pointer;
  /* stack this below the navbar: */

  z-index: 0;
  outline: none;
}
.invisible-upload:hover input {
  font-size: 1000px;
}
.invisible-upload:hover a.button, .invisible-upload:focused a.button {
  border-color: #25f;
  box-shadow: inset 0 0 2px #ffffff;
  -moz-box-shadow: inset 0 0 2px #ffffff;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
}
.invisible-upload:hover a.link, .invisible-upload:focused a.link {
  text-decoration: underline;
}
.invisible-upload a.button {
  position: relative;
  display: inline-block;
}
.invisible-upload a.link {
  text-decoration: none;
  color: #05e;
}
button[disabled], .button.disabled, .button.concealed {
  background: #c1c5ca;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d1d4d7), to(#c1c5ca));
  background-image: linear-gradient(#d1d4d7, #c1c5ca);
  background-image: -moz-linear-gradient(#d1d4d7, #c1c5ca);
  background-image: -webkit-linear-gradient(#d1d4d7, #c1c5ca);
  color: #919497;
  box-shadow: 0 3px rgba(0, 0, 0, 0.05), 0 -4px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.05), 0 -4px rgba(0, 0, 0, 0.05) inset;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.05), 0 -4px rgba(0, 0, 0, 0.05) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
button[disabled] {
  pointer-events: none;
}
